.pack{:style => "width: 100%-20px; height: 40px; margin: 0; padding: 20px; background: #F8F8F8; text-align: center"}
  %form
    Pack a Dropbox with
    %input#number{:type => "text", :size => 4, :value => rand(99)+1}
    boxes with values between
    %input#min{:type => "text", :size => 4, :value => '1'}
    and
    %input#max{:type => "text", :size => 4, :value => '100'}
    
    /
      %textarea#box-input{:rows => 5, :cols => 10, :style => 'display: inline; vertical-align: top;'}
        -100.times do
          = (rand(30)+1).to_s + " " + (rand(30)+1).to_s
    %input.create-dropbox.awesome.blue{:style => "margin-left: 30px;", :type => "submit", :value => "Pack My Dropbox"}
#displaybox{:style => "clear: both; width: 100%-2px; padding: 18px; margin: auto; white-space: nowrap; overflow: auto; border: 2px solid #DDD"}

:javascript
  $(document).ready(function(){
    $.get(('/displaybox?number='+$("#number").val()+"&min="+$("#min").val()+"&max="+$("#max").val()), function(data) {$('#displaybox').html(data);});
    $(".create-dropbox").click(function(){
      //$.get(('/displaybox?text='+$("#box-input").val().replace(/\n/gi, "LB")), function(data) {$('#displaybox').html(data);});
      $.get(('/displaybox?number='+$("#number").val()+"&min="+$("#min").val()+"&max="+$("#max").val()), function(data) {$('#displaybox').html(data);});
      return false;
    });
  });