.pack
  %form
    Pack a Dropbox with
    %input#number{:type => "text", :size => 4, :value => rand(80)+20}
    files with values between
    %input#min{:type => "text", :size => 4, :value => '1'}
    and
    %input#max{:type => "text", :size => 4, :value => '100'}
    
    %input.create-dropbox.awesome.blue{:type => "submit", :value => "Pack My Dropbox"}
    &nbsp; or use &nbsp; 
    %input.show-custom.awesome.orange{:type => "submit", :value => "Custom Input"}
    
#custom{:style => "position: absolute; top: 50px; left: 50%; margin-left: 295px; padding: 10px; background: #fff; border: 2px solid #888; z-index: 1000; display: none;"}
  %textarea#box-input{:rows => 25, :cols => 10, :style => 'display: inline; vertical-align: top;'}
    -100.times do
      = "#{(rand(50)+1).to_s} #{(rand(50)+1).to_s}"
  %br
  %input#custom-pack.awesome.blue{:type => "submit", :value => "Pack Dropbox"}

#displaybox

:javascript
  $(document).ready(function(){
    $.get(('/displaybox?number='+$("#number").val()+"&min="+$("#min").val()+"&max="+$("#max").val()), function(data) {$('#displaybox').html(data);});
    $(".create-dropbox").click(function(){
      $.get(('/displaybox?number='+$("#number").val()+"&min="+$("#min").val()+"&max="+$("#max").val()), function(data) {$('#displaybox').html(data);});
      return false;
    });
    $(".show-custom").click(function(){
      $("#custom").toggle();
      return false;
    });
    $("#custom-pack").click(function(){
      $.get(('/displaybox?text='+$("#box-input").val().replace(/\n/gi, "LB")), function(data) {$('#displaybox').html(data);});
    });
  });