.pack{:style => "float: left; width: 80%; height: 80px; margin-left: 10%; padding: 20px; background: #F8F8F8; text-align: center"}
  %h1{:style => 'display: inline'} Pack a dropbox
  %textarea#box-input{:rows => 5, :cols => 10, :style => 'display: inline; vertical-align: top; margin-left: 30px'}
    -100.times do
      = (rand(100)+1).to_s + " " + (rand(100)+1).to_s
  .create-dropbox.awesome.blue.huge{:style => "margin-left: 30px;"}
    Pack My Dropbox
#displaybox{:style => "margin-left: 20px"}

:javascript
  $(document).ready(function(){
    $(".create-dropbox").click(function(){
      $.get(('/displaybox?type='+($('#pack-type').val())+'&text='+$("#box-input").val().replace(/\n/gi, "LB")), function(data) {$('#displaybox').html(data);});
    });
  });